#pageSection {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    margin-top:6%;
    padding-bottom:5%
}

.pageBtn{
    margin-left:2%;
    border:none;
    background-color:rgba(0, 0, 0, 0)
}

.pageBtn:hover{
    cursor:pointer;
    color:#8F610C;
}

.goBtn:hover{
    cursor:pointer;
}

#curPage:hover{
    color:#c0c0c0;
    cursor:default;
}