version: "3.8"
services:
  frontend:
    build:
      context: ./my-app
    container_name: mern-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./my-app:/app
      - /app/node_modules
    env_file:
      - ./my-app/.env
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:3005/
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: mern-backend
    ports:
      - "3005:3005"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/config.env
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/MOE
      - HOST=http://localhost:3005
      - FRONTEND_URL=http://localhost:3000
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: mongodb-container
    ports:
      - "27017:27017"
    volumes:
      - ./backend/db/data:/data/db
