#Login_text{
  position: absolute;
  right: 30;
  display:flex;
  flex-direction:column;
  height: 20%;
}

#loginButton {
  margin-top: 10%;
  font-family: Inria Sans;
  letter-spacing: 0.17em;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  transition: 0.3s;
}

#loginButton:hover {
  color: rgba(135, 44, 44, 0.764);
  cursor: pointer;
}

#outerBox {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.222);
  z-index: 100;
  border-radius: 10%;
  backdrop-filter: blur(20px);
  box-shadow: 11px 16px 14.1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerBox {
  border: solid rgb(255, 246, 124);
  width: 80%;
  height: 87%;
  border-radius: 10%;
}

#loginMask {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#loginTitle {
  letter-spacing: 0.9rem;
  text-align: center;
  margin-top: 15%;
  color: #776e31;
}

.accText {
  letter-spacing: 0.3rem;
  font-family: Inria Sans;
  color: #ad9d05;
  margin: 3%;
  width:60%;
}

.inputArea {
  border-radius: 10px;
  background-color: #ffffd6;
  border: 0;
  width: 75%;
  text-align: center;
  padding: 1.5%;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.loginInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loginBtnSet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15%;
}

.signupBtn {
  font-family: Inria Sans;
  letter-spacing: 0.03em;
  color: #919191;
  text-decoration: underline dotted;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
  font-weight: bold;
}

.signupBtn:hover {
  color: rgb(255, 179, 0);
  cursor: pointer;
}

#loginBtn {
  font-family: Inria Sans;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  transition: 0.2s;
}

#loginBtn:hover {
  cursor: pointer;
  color: rgb(25, 131, 236);
}

#closeBtn {
  position: absolute;
  width: 17%;
  height: 12%;
  border-radius: 100%;
  background-color: rgba(0, 94, 221, 0.8);
  backdrop-filter: blur(1.5px);
  right: 5%;
  top: 3%;
  border-color: antiquewhite;
}

#closeBtn:hover {
  cursor: pointer;
}

#closeLine {
  border-radius: 0.5rem;
  width: 50%;
}

#joinBtn {
  display:flex;
  justify-content: center;
  width:100%;
  margin-top: 5%
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.drop-down-menu{
  border: #ccc 1px solid;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-top: 5%;
}

.drop-down-menu li {
  position: relative;
  white-space: nowrap;
  list-style-type: none;
  border:none;
}

.drop-down-menu button{
  border-width: 0 1px 1px 1px;
  height:5vh;
  width:100%;
  font-weight: bold;
}

.drop-down-menu button:hover{
  cursor: pointer;
  color:rgb(222, 173, 24);
  background-color: rgb(0, 123, 255);
}
