#UR{
    letter-spacing: 0.2em;
}

#forWhoFilter{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#filterBtnSet{
    height:6%;
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 6%;
}

.filterBtn{
    width:35%;
    height:65%;
    margin:0 1vw 0 0;
    border:none;
    border-radius: 20px;
    transition-duration: 0.5s;
}


.filterBtn:hover{
    cursor: pointer;
}

.filterBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

