@import url("https://fonts.googleapis.com/css?family=Niramit");
@import url("https://fonts.googleapis.com/css?family=Inria+Sans");

h1,p{
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

#postColumn{
    overflow: scroll;
    width:63%;
    height:60vh;
    margin-top: 3.5%;
    
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: #eee;
    box-shadow: 2px 2px 6px #ADADA3;
    --checkmark-width: 20%; /* 勾的寬度 */
    --checkmark-height: 50%; 
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #42ce0f;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 32%;
    top: 14%;
    width: var(--checkmark-width);
    height: var(--checkmark-height); 
    border: solid rgb(1, 141, 13);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#postTitle{
    font-family: "Niramit";
    text-align: center;
    letter-spacing: 0.05em;
}

#postDate{
    width:20%;
    font-family: "Inria Sans";
    text-align: center;
    letter-spacing: 0.2em;
    color:#616161;
}

.onePost#editBtn{
  position:relative;
  border: none;
  padding: 0.2%;
  border-radius: 100%;
  background-color: #bbbbbb;
  color:#584f3d;
  letter-spacing: 0.07em;
  z-index: 1;
  margin-left:0;
  transition: 0.5s;
}

.onePost#editBtn:hover{
  background-color: #ffe600;
  color:#bb7e02;
}

#postContent{
    font-family: "Inria Sans";
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
    line-height: 1.5em;
}