@import url("https://fonts.googleapis.com/css?family=Niramit");
@import url("https://fonts.googleapis.com/css?family=Inria+Sans");

h1,p{
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

#postColumn{
    overflow: scroll;
    width:63%;
    height:60vh;
    margin-top: 3%;
}


#postTitle{
    font-family: "Niramit";
    margin-top:4%;
    text-align: center;
    letter-spacing: 0.05em;
}

#postDate{
    margin-top: 2%;
    font-family: "Inria Sans";
    text-align: center;
    letter-spacing: 0.2em;
    color:#616161;
}

#postContent{
    font-family: "Inria Sans";
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
    line-height: 1.5em;
}