#searchBar{
    width:60vw;
    height:5vh;
    position:relative;
}


#searchBox{
    background-color: #50B6F9;
    width:100%;
    height:100%;
    border-radius: 20px;
    border:0;
    padding-left:2vw;
    color:white;
}

::placeholder {
    color: rgb(252, 252, 252);
    opacity: 1; /* Firefox */
  }

#searchBtn{
    width:4%;
    height:5vh;
    border:none;
    position:absolute;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    left:100%;
    top:50%;
}

#searchBtn:hover{
    cursor:pointer;
}